.idea/*
.vscode/*
# Ignore all cache files
*.pyc
__pycache__/*
.pytest_cache/*
dist/*
*egg-info/*
*.tar.gz
.qt_for_python/*
rf.lp
uiEnv/*
# Ignore the counterfactual datasets
datasets/counterfactuals/*.csv
# Ignore csv files in test folder
test/*.csv
# Ignore result.csv file in root folder
NumericalResults.csv
results/*